In [1]:
import os
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_tv = pd.read_csv('data/tv_publisher.csv')

In [3]:
df_tv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5827133 entries, 0 to 5827132
Data columns (total 3 columns):
 #   Column           Dtype
---  ------           -----
 0   device_id        object
 1   timestamp_utc    object
 2   cost_milli_cent  float64
dtypes: float64(1), object(2)
memory usage: 133.4+ MB

In [4]:
df_tv.head()

      device_id        timestamp_utc  cost_milli_cent
0  ctv81YlbBXho  2024-04-23 21:09:46          2325.51
1  ctvWr7bOO5Je  2024-04-19 18:31:30          2325.51
2  ctvktBqDUgcV  2024-05-07 23:32:37          2325.51
3  ctv4bFFpBJms  2024-06-28 00:10:10          2325.51
4  ctvFZB9pUMZ7  2024-05-24 03:45:45          2325.51

In [5]:
for col in df_tv.columns:
    print(f"\nðŸ“Œ Unique values in '{col}':")
    print(df_tv[col].unique())

ðŸ“Œ Unique values in 'device_id':
['ctv81YlbBXho' 'ctvWr7bOO5Je' 'ctvktBqDUgcV' ... 'ctvyq3Mv8Wyi'
 'ctvAxmMKz1Po' 'ctv4IsWGzGJ9']

ðŸ“Œ Unique values in 'timestamp_utc':
['2024-04-23 21:09:46' '2024-04-19 18:31:30' '2024-05-07 23:32:37' ...
 '2024-03-07 08:52:58' '2024-05-06 21:13:21' '2024-05-08 02:06:55']

ðŸ“Œ Unique values in 'cost_milli_cent':
[2325.51 2646.51]